/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  background-color: rgb(247, 247, 247);
  color: #444;
  padding: 18px;
  width: 100%;
  text-align: left;
  // border: none;
  outline: none;
  border: solid 1px rgb(216, 216, 216);
  transition: 0.3s;
  // タイトル
  .title {
    word-break: break-all;
  }
  // 選択時付与
  &.active {
    background-color: rgb(194, 225, 255);
  }
  // プライマリー入力デバイスがホバーできる場合
  @media (hover: hover) {
    &:hover {
      background-color: lightgreen;
    }
  }
  // directiveでhoverさせる場合に渡すclass
  // &.hover {
  //   background-color: lightgreen;
  // }
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 10px 12px;
  background-color: white;
  overflow: hidden;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  border-width: 0px 1px 1px 1px;
}
