/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  background-color: #eee;
  color: #444;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  // outline: none;
  outline: solid 1px #6c757d;
  transition: 0.3s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: rgb(194, 225, 255);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  margin: 12px;
  background-color: white;
  overflow: hidden;
}
